{%extends "base.html"%}

{%block content%}
<h1>add stock...</h1>
<br>
<form class="form-inline my-2 my-lg-0" action="{%url 'add_stock'%}" method="POST">{%csrf_token%}
	<input class="form-control mr-sm-2" type="search" name="ticker" placeholder="Add to Portfolio" aria-label="Search">
	<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Add Stock</button>
</form>
<br>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Compony Name</th>
      <th scope="col">Stock Price</th>
      <th scope="col">Primary Excange</th>
      <th scope="col">Open</th>
      <th scope="col">Close</th>
      <th scope="col">week 52 High</th>
      <th scope="col">week 52 Low</th>
    </tr>
  </thead>
  <tbody>
{%if ticker%}
	{%for list_item in output%}
		<tr>
	  		<th scope="row">{{list_item.companyName}}</th>
	  		<td>{{list_item.latestPrice}}</td>
	  		<td>{{list_item.primaryExchange}}</td>
	  		<td>{{list_item.open}}</td>
	  		<td>{{list_item.close}}</td>
	  		<td>{{list_item.week52High}}</td>
	  		<td>{{list_item.week52Low}}</td>
	  	</tr>

	{%endfor%}

 {%endif%}
   
  </tbody>
</table>




{%endblock%}